*{
	margin: 0;
	padding: 0;
}

p{
	text-indent: 25px;
}

.header{
	background-color: #000099;
	opacity: .85;
	filter: alpha(opacity = calc(100 * .85)); /* For IE8 and earlier */
	position: fixed;
	top: 0px;
	left: 0px;
	height:80px;
	width:100%;
	
}

h1.head{
	text-align: center;
	color: #FFCC00;
}

body {
	background-image: url("./assets/background.png");
	background-repeat: no-repeat;
	background-position: center top;
}

.body {
	background-color: #FFCC00;
	opacity: .95;
	filter: alpha(opacity = calc(100 * .95)); /* For IE8 and earlier */
	position: fixed;
	top: 80px;
	left: 100px;
	width: calc(100% - 100px - 10px);
	height: calc(100% - 80px - 10px);
	padding: 5px;
	overflow-y: auto;
}

/*nav - bar to right of page used for navigation and any widgets such as log in / create account*/
.nav{
	background-color: #000099;
	color: #FFCC00;
	opacity: .85;
	filter: alpha(opacity = calc(100 * .85)); /* For IE8 and earlier */
	position: fixed;
	top: 80px;
	left: 0px;
	min-height:calc(100% - 80px);
	height: inherit;
	width:100px;
	overflow: hidden;
}

.nav ul{
	list-style-type: none;
}

.nav a{
	text-decoration: none;
	color: #FFCC00;
	display: block;
	width: 100px;
	padding-left:5px;
}

a.normal{
	text-decoration: underline;
	display: inline;
	width: auto;
	padding-left:0px;
}

.nav a:hover{
	color: #000099;
	background-color: #FFCC00;
}

/*navtop - similar to navigation bar, but at top of screen right below header. Used only for extra links such as different about pages
that we don't want to include in the main navigation bar.*/
.navtop{
	background-color: #000099;
	opacity: .85;
	filter: alpha(opacity = calc(100 * .85)); /* For IE8 and earlier */
	position: fixed;
	top:80px;
	left:100px;
	height:30px;
	width:100%;
	z-index:10;
}

.navtop ul{
	list-style-type: none;
}

.navtop li{
	display: inline;
	float: left;
}

.navtop a{
	text-decoration: none;
	color: #FFCC00;
	display: block;
	height: 30px;
	padding: 0px 5px 0px 5px; 
}

.navtop a:hover{
	color: #000099;
	background-color: #FFCC00;
}